@import "./var.css";
@import "./normalize.css";
@import "./page.css";
@import "./header.css";
@import "./icon.css";
@import "./top-action.css";
@import "./menu.css";
@import "./benefits.css";
@import "./button.css";
@import "./title.css";
@import "./description.css";
@import "./subscription.css";
@import "./offline-viewing.css";
@import "./partners.css";

.container {
  position: relative;
  z-index: 1;
  margin-left: 50px;
  margin-right: 39px;
}

